[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = ">=1.21.5"
jupyter = "*"
numba = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.8"
